<!-- views/leaders.ejs -->

<head>
  <title>Leaderboard</title>

  <style>
    body {
      text-align: center;
      font-family: Arial;
      background-color: gray;
      margin-top: -8px;
    }

    table {
      margin-top: 45px;
      s font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border: 1;
      border-collapse: collapse;
      width: 70%;
      margin-left: auto;
      margin-right: auto
    }

    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    .tr {
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #body:hover {
      background-color: #ddd;
    }

    .container {
      position: absolute;
      left: 35%;
      display: flex;
      overflow: hidden;
      background-color: #333;
      margin-top: 0px;
      width: 30%;
      height: 50px;
      z-index: 1;
    }

    .container a {
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      font-size: 25px;

      padding-top: 12.5px;
      padding-bottom: 12.5px;
    }

    .container a:hover {
      background: #ddd;
      color: black;
    }

    ul p {
      color: #f2f2f2;
    }
  </style>
</head>

<body>
  <nav>
    <ul class="container">
      <a href="/profile">Home</a>&nbsp;
      <p>|</p>&nbsp;
      <a href="/leaderboard">Leaderboard</a>&nbsp;
      <p>|</p>&nbsp;
      <a href="/about">About</a>&nbsp;
      <p>|</p>&nbsp;
      <a href="/logout">Log Out</a>

    </ul>
  </nav>
  <br><br>
  <table>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Score</th>
    </tr>
    <% if(data) { %>
      <%   i = 1; %>
        <% data.forEach(function(item){ %>
          <tr id="body">
            <td>
              <%= i %>
            </td>
            <td>
              <%= item.username%>
            </td>
            <td>
              <%= item.score%>
            </td>
          </tr>
          <% i++;
      })
    } %>
  </table>
</body>

<!-- needs work -->